.booking-contacts--desktop {
    @include desktop {
        display: flex;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
        margin: 0 auto;
        
    }
}

.section-booking {
    background-color: #191C26;
    @include desktop {
        width: calc(50% - 15px);
    }
}

.booking__container {
    @include desktop {
        width: calc(600px - 30px);
        
    }
}

.booking-form {
    
    width: 100%;
}

.booking-form__title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 44px;

    @include tablet {
        text-align: left;
    }
}


.booking-form__list {
    @include tablet {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    
            }
}

.booking-form__item {
    width: 100%;
        display: flex;
        border-bottom: 1px solid var(--light-brand-color);
        margin-bottom: 44px;
        transition-timing-function: var(--cubic);
        transition-duration: var(--period);
    
        &:hover,
        &:focus {
            border-bottom: 1px solid var(--white-color);
        }

    
    @include tablet {

        
    }
}

.booking-form__label {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--light-brand-color);
    cursor: pointer;

}
    
.booking-form__input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--light-brand-color);
}

.booking-form__massage {
    resize: none;
    width: inherit;
    height: 76px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--light-brand-color);
    border-bottom: 1px solid var(--light-brand-color);

        &::placeholder {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.36;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--light-brand-color);
            cursor: pointer;
    }
}

.booking-form__button {
    display: block;
    border-radius: 25px;
    border: 1px solid var(--brand-color);
    background-color: transparent;
    width: 160px;
    height: 40px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 44px;

    transition-timing-function: var(--cubic);
    transition-duration: var(--period);
        
        &:hover,
        &:focus {
            background-color: var(--brand-color);
            color: var(--white-color);
            }
    @include tablet {
        margin-left: 0;
    }
}