.section-gallery {}

.gallery {}

.gallery__info {
    @include text-about;
        color: var(--dark-brand-color);
    
        &::before {
            background-color: var(--dark-brand-color);
        }
    
        margin-bottom: 71px;
}

.gallery__title {}

.gallery__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
    }

    @include desktop {
        flex-wrap: nowrap;
    }
}

.gallery__item {
    &:not(:last-child) {
    margin-bottom: 30px;
}

    @include tablet {
        width: calc(100% - 30px) / 2;
    }

    @include desktop {
        width: calc(100% - 90px) / 4;
    }
}
