@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin retuna {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

@mixin text-about {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    &::before {
        content: '';
        height: 1px;
        width: 60px;
        margin-right: 20px;
        position: absolute;
        top: 7px;
        left: 0;
        @content;
    }
}

@mixin text {

    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
    @content;
}